.todo_item {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 200px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
  }
.todo_title {
  font-size: medium;
  font-weight: 400;
}